# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Lambda function files
aws-untracked/function.zip

# IAM role policy
aws-untracked/trust-policy.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#ide files
.idea
/aws-untracked/
/db-scripts
/backups

layer.zip
nodejs/
owner-setup/

.env

